<h1>Links</h1>

<ul class='list-unstyled'>
  {{#each model as |link|}}
    <li>
      <!-- {{#link-to link.url}} {{link.title}} {{/link-to}} -->
      <a target="_blank" href="{{unbound link.url}}"> {{link.title}} </a>
    </li>
  {{/each}}
</ul>
