<h1>Links</h1>

<ul class='list-unstyled'>
    {{#each model as |link|}}
  <div class="row clearfix well">
      <li>
        <a target="_blank" href="{{unbound link.url}}"> {{link.title}} </a> submitted by {{#link-to 'user' link.user.id}} {{link.user.name}} {{/link-to}}
      </li>
      <p>
        <a href="#">Comments</a>
      </p>
  </div>
    {{/each}}
</ul>

<hr>

<!-- <form>
  <div class="form-group">
    <label for="link-title">Link Title:</label>
    <input class='form-control' name="link-title" type="text">
  </div>
  <div class="form-group">
    <label for="link-url">Link URL:</label>
    <input class='form-control' name="link-url" type="text">
  </div>
  <button {{action 'addLink'}} class="btn btn-success">Add Link</button>
</form> -->
